.inputstyle {
    border: 2px solid red;
    border-radius: 10px;
    padding-right: 10px;
}

.btn {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.btn:hover {
    background-color: rgb(255, 35, 35);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}