<div class="min-h-screen bg-slate-100">
    @if(race){
    <nav class="bg-primary h-24 flex justify-center items-center">
        <div class="flex justify-center items-center bg-slate-100 py-1 px-6 rounded-lg border-2 border-black">
            <img src="{{race.flagRace}}" alt="" class="w-24 h-16">
            <h1 class="ml-3 font-bold text-primary text-xl">{{race.name}}</h1>
        </div>
    </nav>

    <div class="flex justify-center items-center mt-4">
        <img src="{{race.imageCircuit}}" alt="" class="w-80 ">
    </div>

    @if(podium && podium.length > 0){
        <div class="mt-4 flex justify-center">
            <div class="flex flex-col items-center w-full mb-6">
                <h1 class="text-primary font-bold text-2xl">Podium</h1>
                @for(pod of podium ; track pod.rank){
                <div class="w-11/12 md:4/5 lg:w-2/3 bg-white rounded-lg shadow-md my-3 p-3 flex justify-between items-center borderp">
                    <div class="flex items-center ">
                        <h1 class="font-semibold w-7 ">{{pod.rank}}</h1>
                        <img src="{{pod.brand.logo}}" alt="logo" class="h-12 w-12 rounded-lg ml-4">
                        <h1 class="font-bold md:text-lg ml-3 w-48 ">{{pod.brand.name}}</h1>
                        <img src="{{pod.brand.flag}}" alt="logo" class="h-8 w-12 rounded-lg ml-4 borderbl">
                    </div>
                    <div class="flex items-center">
                        <h1 class="font-bold text-lg mr-3">{{pod.points}}</h1>
                        <img src="/GridiconsStats.png" alt="points" class="h-6 w-6">
                    </div>
                </div>
                }
            </div>
        </div>
    }@else {
        <div class="h-96 flex justify-center items-center">
            <button class="bg-primary hover:bg-red-600 text-white py-2 px-6 font-semibold rounded-lg border-2 border-black"
            (click)="startRace()"
            >
                Start Grand Prix
            </button>
        </div>
    }

    }
</div>
